<a href="https://colab.research.google.com/github/luisosmx/Git_exercises/blob/main/files_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
from google.colab import auth
auth.authenticate_user()

In [30]:
import pandas as pd
from google.cloud import storage

In [31]:
project_id = 'calm-dragon-378604'
bucket_name = 'files_csv_lms'

client = storage.Client(project=project_id)
bucket = client.get_bucket(bucket_name)

In [32]:
file_name = 'movie_review2.xlsx'

In [33]:
blob = bucket.blob(file_name)
content = blob.download_as_string()

df = pd.read_excel(content)

In [34]:
df.head(10)

     cid                                         review_str  id_review
0  13756  Once again Mr. Costner has dragged out a movie...          1
1  15738  This is an example of why the majority of acti...          2
2  15727  First of all I hate those moronic rappers, who...          3
3  17954  Not even the Beatles could write songs everyon...          4
4  16579  Brass pictures (movies is not a fitting word f...          5
5  14841  A funny thing happened to me while watching Mo...          6
6  18085  This German horror film has to be one of the w...          7
7  16365  Being a long-time fan of Japanese film, I expe...          8
8  17912  Tokyo Eyes tells of a 17 year old Japanese gir...          9
9  15100  Wealthy horse ranchers in Buenos Aires have a ...         10