<a href="https://colab.research.google.com/github/luisosmx/Git_exercises/blob/main/upload_files_google_storage_to_bigquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import auth
auth.authenticate_user()

In [11]:
import pandas as pd
from google.cloud import storage
from io import BytesIO

In [13]:
project_id = 'calm-dragon-378604'
bucket_name = 'files_csv_lms'

client = storage.Client(project=project_id)
bucket = client.get_bucket(bucket_name)

csv_filename = 'movie_review.csv'

blob = bucket.blob(csv_filename)

csv_data = blob.download_as_string()

csv_text = csv_data.decode('utf-8')

print(csv_text)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [14]:
file_name = 'movie_review.csv'

In [15]:
blob = bucket.blob(file_name)
content = blob.download_as_string()
#Aqui se encuentra definido el dataframe = df
df = pd.read_csv(BytesIO(csv_data))

In [16]:
df.head(10)

     cid                                         review_str  id_review
0  13756  Once again Mr. Costner has dragged out a movie...          1
1  15738  This is an example of why the majority of acti...          2
2  15727  First of all I hate those moronic rappers, who...          3
3  17954  Not even the Beatles could write songs everyon...          4
4  16579  Brass pictures (movies is not a fitting word f...          5
5  14841  A funny thing happened to me while watching Mo...          6
6  18085  This German horror film has to be one of the w...          7
7  16365  Being a long-time fan of Japanese film, I expe...          8
8  17912  Tokyo Eyes tells of a 17 year old Japanese gir...          9
9  15100  Wealthy horse ranchers in Buenos Aires have a ...         10

In [17]:
print(df.dtypes)

cid            int64
review_str    object
id_review      int64
dtype: object

In [18]:
df['review_str'] = df['review_str'].astype('string')

In [19]:
print(df['review_str'].dtype)

string

In [20]:
print(df.dtypes)

cid            int64
review_str    string
id_review      int64
dtype: object

In [21]:
from google.cloud import bigquery

In [31]:
client = bigquery.Client.from_service_account_json('/content/calm-dragon-378604-5b5edf465d57.json')

In [32]:
table_id = 'calm-dragon-378604.exercise_gcp.movie_review'

schema_movie = [
    bigquery.SchemaField('cid', 'int64', mode='NULLABLE'),
    bigquery.SchemaField('review_str', 'string', mode='NULLABLE'),
    bigquery.SchemaField('id_review', 'int64', mode='NULLABLE')
]

In [33]:
job_config_movie = bigquery.LoadJobConfig(
  
    schema=schema_movie,
    
    write_disposition="WRITE_TRUNCATE",
)

In [34]:
job = client.load_table_from_dataframe(
      df, table_id, job_config=job_config_movie
  )  # Make an API request.
job.result()  # Wait for the job to complete.

table = client.get_table(table_id)  # Make an API request.
print(
      "Loaded {} rows and {} columns to {}".format(
          table.num_rows, len(table.schema), table_id
      )
  )

Loaded 100000 rows and 3 columns to calm-dragon-378604.exercise_gcp.movie_review

In [35]:
#library
import pandas as pd
from google.cloud import storage
from io import BytesIO
from google.cloud import bigquery

#variable
project_id = 'calm-dragon-378604'
bucket_name = 'files_csv_lms'

client = storage.Client(project=project_id)
bucket = client.get_bucket(bucket_name)

csv_filename = 'movie_review.csv'

blob = bucket.blob(csv_filename)

csv_data = blob.download_as_string()

csv_text = csv_data.decode('utf-8')

file_name = 'movie_review.csv'

print(csv_text)

#download file from bucket
blob = bucket.blob(file_name)
content = blob.download_as_string()

#Here is defined the dataframe = df
df = pd.read_csv(BytesIO(csv_data))

#function to display the first rows of a df
df.head(10)

#function to show the type of files in df
print(df.dtypes)

#code that allows converting files of type 'object' to 'string'
df['review_str'] = df['review_str'].astype('string')

#with this function we confirm that the conversion has been done
print(df['review_str'].dtype)

#get authentication credentials from a JSON file
client = bigquery.Client.from_service_account_json('/content/calm-dragon-378604-5b5edf465d57.json')

#This code defines the schema of a table in BigQuery
table_id = 'calm-dragon-378604.exercise_gcp.movie_review'

schema_movie = [
    bigquery.SchemaField('cid', 'int64', mode='NULLABLE'),
    bigquery.SchemaField('review_str', 'string', mode='NULLABLE'),
    bigquery.SchemaField('id_review', 'int64', mode='NULLABLE')
]

#This code will be used to set up a data load job in BigQuery

job_config_movie = bigquery.LoadJobConfig(
  
    schema=schema_movie,
    
    write_disposition="WRITE_TRUNCATE",
)

#With this code we load the data from the df to the bigquery table
job = client.load_table_from_dataframe(
      df, table_id, job_config=job_config_movie
  )  # Make an API request.
job.result()  # Wait for the job to complete.

table = client.get_table(table_id)  # Make an API request.
print(
      "Loaded {} rows and {} columns to {}".format(
          table.num_rows, len(table.schema), table_id
      )
  )

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

cid            int64
review_str    object
id_review      int64
dtype: object
string
Loaded 100000 rows and 3 columns to calm-dragon-378604.exercise_gcp.movie_review